{% extends "ApplicationEpostBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rating.css') }}" type="text/css" media="all"/>
    {{ form_stylesheet(edit_form) }}
 {% endblock %}
      
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rating.js') }}" type="text/javascript"></script>
    {{ form_javascript(edit_form) }}
 {% endblock %}

{% block content_header '' %}
{% block title %}

{% endblock %}
     


{% block content %}

<br><br>

    <form action="{{ path('epostnotes_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        <table class="table table-bordered">
            <tbody>      
            <tr><td>
             {% if entity.epost.image is not null %}               
                        <p>Image Actuelle</p>
                        <img width="150px" src="{{ vich_uploader_asset(entity.epost, 'image') }}" alt="{{ entity.epost.imageName }}" />
         {% else %}
                        <p>Pas d'Image</p>
         {% endif %}
                   
        </td>
                <td>

{#
<label for="amount">Minimum number of bedrooms:</label>
<input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />#}
     {{ form_row(edit_form.note) }}
{#
<div id="slider-range-max"></div>#}
</td><td>
{{ form_rest(edit_form) }} </td>
            </tr>

            <tr><td colspan="2">

                    <button type="submit" class="btn btn-small btn-warning">Modifier</button>


                    </form>       

  
                  

                </td></tr>
        </tbody>
    </table>
     <br>
 
{% endblock %}
