{% extends "ApplicationEpostBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationepost/css/sliding.css') }}" type="text/css" media="all"/>

 {% endblock %}


{% block javascripts %}
{{ parent() }}
 {% endblock %}


{% block content_header '' %}
{% block title %}

MES COMMENTAIRES
{% endblock %}
{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}
<br>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="title">

                <th>{{ knp_pagination_sortable(paginationa, 'Id', 'a.id') }}</th>
                <th>Post</th>
                <th>Proprietaire</th>
                 <th{% if paginationa.isSorted('a.created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Created', 'a.created') }}</th>
                <th{% if paginationa.isSorted('a.updated') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Updated', 'a.updated') }}</th>
                <th{% if paginationa.isSorted('a.approved') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Approuved', 'a.approved') }}</th>
                       
                      <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pager in paginationa %}
                <tr>

          

                        <td>{{ pager.id }}</td>
                     
              <td>                 <a href="{{ path('epost_showstandard', { 'blog_id': pager.epost.id,'slug': pager.epost.slug }) }}">
         
                          {{ pager.epost.name }}</a></td>
                            <td>{{ pager.epost.proprietaire.username }}</td>
                        {#  <td>{{ pager.user.username }}</td>#}
           <td>{{ pager.updated|date }}</td>
           <td>{{ pager.created|date }}</td>
            <td>{{ pager.approved }}</td>
              <td>
                             <a href="{{ path('epost_showstandard', { 'blog_id': pager.epost.id,'slug': pager.epost.slug }) }}">
             {#
                    <a href="{{ path('epost_show', { 'id': pager.id }) }}">#}
                        <img src="{{ asset('bundles/applicationepost/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                </td>
                {#
                   <td>
     <a href="{{ path('epostnotes_delete', { 'id': pager.id }) }}">
                        <img src="{{ asset('bundles/applicationepost/images/delete.png') }}" alt="delete" width="15" height="15" />
                    </a>
                </td>
                #}

                    </tr>
        {% endfor %}
                </tbody>
            </table>

  {{ knp_pagination_render(paginationa) }}

    {% endblock %}
