{% extends "ApplicationEpostBundle::layout.html.twig" %}

          
{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
<script type="text/javascript">
          
$(document).ready(function() {
 $( "#application_eposttype_commentsCloseAt" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd 18:00",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
  
});



</script>





{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<style>
        .monlabel {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .boxlist {
            border: 1px solid #D4E0EE;
            background-color: #f1f1f1;

        }

        .mytextarea {
            border: 1px solid #D4E0EE;
            background-color: #f1f1f1;
            width:330px; height:100px;

        }
        .myresume {
            border: 1px solid #D4E0EE;
         /*   background-color: #f1f1f1;*/
            width:330px; 
            height:100px;

        }
        .leserreurs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:18px;
            color:red;
        }
        tr.single {
         background-color: #f1f1f1;
        }

    </style> 
{% endblock %}
    
    
    
    
    

{% block content_header '' %}
{% block title %}
POST: {{ entity.name }}
{% endblock %}
{% block content %}

<br><br>

 <form action="{{ path('epost_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
     <table class="table table-bordered">
    <tbody>      
        <tr class="single"><td>
                 <div>
                  {{ form_row(edit_form.name) }}
                           {{ form_row(edit_form.idStatus) }}
                        {{ form_errors(edit_form.isvisible) }}
                        {{ form_widget(edit_form.isvisible) }}
                         
                
                            {{ form_row(edit_form.tags) }}
                             {{ form_row(edit_form.categorie) }}
                         
                              {{ form_errors(edit_form.commentsEnabled) }}
                         {{ form_label(edit_form.commentsEnabled) }}
                         {{ form_widget(edit_form.commentsEnabled) }}
                         
                            {{ form_errors(edit_form.commentsCloseAt) }}
                          {{ form_label(edit_form.commentsCloseAt) }}
                         {{ form_widget(edit_form.commentsCloseAt) }}
                         
                 {#   {{ form_row(edit_form.commentsCloseAt) }}#}
        
                 {#    {{ form_row(edit_form.services) }}#}
              </div>
                        <hr>
                            
              
                   </td>
 <td>
         
 {{ form_row(edit_form.description) }}
     <hr>
    {# {{ form_row(edit_form.resume) }}#}
       {{ form_errors(edit_form.resume) }}
     {{ form_label(edit_form.resume) }}
     {{ form_widget(edit_form.resume, { 'attr': {'class': 'myresume'} }) }}
 </td>
 
 <td>{% if entity.image is not null %}               
                                      <p>Image Actuelle</p>
         <img width="150px" src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.imageName }}" />
         {% else %}
           <p>Pas d'Image</p>
         {% endif %}
 {{ form_row(edit_form.image) }}
 
           <br><br>
        Image Media<br>          
   <img src="{% path entity.imageMedia, 'big' %}" width="150" /> 
                </td>
  
                                 </tr>
                                     
 <tr class="single"><td colspan="3">
 {{ form_rest(edit_form) }}                                  
  <button type="submit" class="btn btn-small btn-warning">Modifier</button>
     <a href="{{ path(btnretour)  }}" class="btn btn-small btn-success">Retour</a>
   </form>       
                                       
                                </td></tr>
                        </tbody>
                    </table>
      
{% endblock %}
