{% extends "ApplicationEpostBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationepost/css/sliding.css') }}" type="text/css" media="all"/>
  
       <style>
              .resume {
  max-width: 300px;
}

</style>
 {% endblock %}

{% block javascripts %}
{{ parent() }}
 
 <script type="text/javascript" src="{{ asset('jquery/jquery.raty.js') }}"></script>
 <script type="text/javascript">
    $('.star').raty({
       /* path: '/images',*/
        readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
 {% endblock %}


{% block content_header '' %}
{% block title %}
MES POSTS 
{% endblock %}
{% block content %}


{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}


{% if is_granted("ROLE_USER") %}   
<a href="{{ path('epost_new') }}" class="btn btn-small btn-primary">Ajouter un Post</a>
{% endif %}



<table class="table table-striped table-bordered table-hover">
    <table class="table table-striped table-bordered table-hover">
       <thead>
        <tr class="title">
              <th>{{ knp_pagination_sortable(paginationa, 'Id', 'a.id') }}</th>
    
 <th{% if paginationa.isSorted('a.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Nom', 'a.name') }}</th>
 <th{% if paginationa.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Categorie', 'c.name') }}</th>
 <th{% if paginationa.isSorted('d.idStatus.nom') %} class="sorted"{% endif %}>
{{ knp_pagination_sortable(paginationa, 'S', 'd.idStatus.nom') }}
                   <i class="icon-flag"></i></th> 
        <th{% if paginationa.isSorted('a.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Date', 'a.createdAt') }}</th>
 <th{% if paginationa.isSorted('a.resume') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Résumé', 'a.resume') }}</th>
 {#
<th{% if paginationa.isSorted('a.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Description', 'a.description') }}</th>
#}
  {# <th>Tags</th> #}
    
       <th{% if paginationa.isSorted('t.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Tags', 't.name') }}
    <th{% if paginationa.isSorted('e.globalnote') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Note', 'e.globalnote') }}</th>

   {# <th>Image</th>#}
     <th>ImageMedia</th>
     <th>Commentaires</th>
           {% if is_granted("ROLE_ADMIN") %}
 <th colspan="4"><center>Actions</center></th>
{% else %}
 <th><center>Actions</center></th>
{% endif %}
        </tr>
    </thead>
 
  
        <tbody>
        {% for entity in paginationa %}
             {# {{  entity.description|slice(0, 25) }}
              {{  entity.description|slice(0, 25)|replace({"\n":"--"})|raw }}#}
            <tr>
                
           <td>  <a href="{{ path('epost_showstandard', { 'blog_id': entity.id,'slug': entity.slug }) }}">
           {{ entity.id }}</td>
           {#    <td><a href="{{ path('epost_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{{ entity.name }}</td>
                 {% if entity.categorie is not null %}               
                  <td>{{ entity.categorie.name }}</td>
                  {% else %}
                  <td>---</td>
                  {% endif %}
                  <td>
                                   {% if entity.idStatus is not null %}
                               {% if entity.idStatus.nom == 'OPEN' %}

                                            <img src="{{ asset('bundles/applicationepost/images/cadenas-souvert.png') }}" alt="show" width="15" height="15" />

 {% else %}

                                            <img src="{{ asset('bundles/applicationepost/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
        {% endif %} 
 {% else %}

                                            <img src="{{ asset('bundles/applicationepost/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
     
{% endif %} 
                                   </td> 
  <td>{{ entity.createdAt|created_ago }}</td>
                           {# 
<td>           {{  entity.description|raw|slice(0, 20)|raw }}</td>#}
      {#  <td>{{ entity.description|raw|length > 30 ? entity.description|slice(0, 30)|raw  : entity.description|raw  }}</td>
#}
  <td class="resume">{{ entity.resume|raw }}</td>
 
  
      <td>{{ entity.tags|join(', ') }}   </td>
      {% if entity.globalnote is not null %}
         <td>{{ entity.globalnote }}</td>
         {% else %}
         <td>--</td>
         {% endif %}
                 {#     <td>
                {% if entity.image is not null %}               
           
         
         <img width="60px" src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.imageName }}" />
         {% else %}
           ---
         {% endif %}
           </td>#}
            <td>
{#<img src="/sf1/{% path post.image, 'small' %}" width="50" /> #}
<img src="{% path entity.imageMedia, 'small' %}" width="50" /> 
          </td>
              {% if entity.comments is not null %}
                  <td>{{ entity.comments|length }}</td>
                  {% else %}
                  <td>---</td>
                  {% endif %}  
                  
                     <td>

                    <a href="{{ path('epost_showstandard', { 'blog_id': entity.id,'slug': entity.slug }) }}">

                        <img src="{{ asset('bundles/applicationepost/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                </td>
                <td>
                    <a href="{{ path('epost_edit', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationepost/images/edit.png') }}" alt="edit" width="15" height="15" />
                    </a>
                </td>
                  <td>
                        <a href="{{ path('epost_addmyimage', { 'id': entity.id }) }}">
               <img src="{{ asset('bundles/applicationepost/images/down2.jpg') }}" alt="delete" width="15" height="15" />
                   </a>
   
                </td>
                   <td>
     <a href="{{ path('epost_delete', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationepost/images/delete.png') }}" alt="delete" width="15" height="15" />
                    </a>
                </td>
              
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {{ knp_pagination_render(paginationa) }}


    {% endblock %}
