{% extends "ApplicationEpostBundle::layoutn.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationepost/css/sliding.css') }}" type="text/css" media="all"/>
       <link rel="stylesheet" href="{{ asset('css/news.css') }}" type="text/css" media="all"/>
 {% endblock %}

{% block content_header '' %}
{% block title %}
POSTS DISPONIBLES
{% endblock %}
{% block content %}


{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}

{#
{% if is_granted("ROLE_USER") %}   
<a href="{{ path('epost_new') }}" class="btn btn-medium btn-primary"><i class="icon-plus"></i> Ajouter un Post</a>
{% endif %}#}
<br><br>
    

  {#{% for post in pager.getResults() %}#}
      {% for entity in paginationa %}
      

 <div class="mypost">
            <div class="sonata-blog-post-date-container">
           {{ entity.createdAt|created_ago }}     
            </div>
             <!--   <h2 class="entry-title">-->
            <h2 class="sonata-blog-post-title">
                      <img src="{% path entity.imageMedia, 'big' %}" width="100" /> 
   
   {#         {% if entity.image is not null %}               
           
         
         <img width="100px" src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.imageName }}" />
         {% else %}
           
         {% endif %}
     #}      
                <span class="sonata-blog-post-author"> 
                  
                         <a href="{{ path('epost_showstandard', { 'blog_id': entity.id,'slug': entity.slug }) }}">
                          {{ entity.name }}</a>
    {% if entity.proprietaire is not null %}               
                    Par {{ entity.proprietaire.username }}
                 {% else %}
                 xxx
                     {% endif %}</span>
            </h2>
              <br>
                  <div class="sonata-blog-post-abtract">
              Extrait:  {{ entity.resume|raw }}
            </div><br>
               <div class="sonata-blog-post-tag-list">
                   
                           {% if entity.categorie is not null %}               
                          <span class="label">
                  {{ entity.categorie.name }}
                      
                        </span>
                  {% else %}
                  pas de catégorie
                  {% endif %}


                       
                    </div>
             
              {% if entity.comments is not null %}
              {% if entity.comments|length > 1 %}
                <span class="badge badge-warning">{{ entity.comments|length }} commentaires</span>
                {% else %}
                <span class="badge badge-warning">{{ entity.comments|length }} commentaire</span>
                {% endif %}
                  {% else %}
                 ---
                  {% endif %}   
                   
                    <a href="{{ path('epost_showstandard', { 'blog_id': entity.id,'slug': entity.slug }) }}">
                        <img src="{{ asset('bundles/applicationepost/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                             
                    <div class="sonata-blog-post-tag-list">
                        {% for tag in entity.tags %}
                             <span class="label label-inverse">
                            <a href="{{ url('epost', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                            {% if not loop.last%}, {%endif%}
                             </span>
                            {% else %}
                            Pas de Tag
                        {% endfor %}
                    </div>   
                
            
       <!-- </div>-->
       </div>
   
    {% endfor %}
 {{ knp_pagination_render(paginationa) }}

{% endblock %}




{% block categories %}
{{ parent() }}
{% include 'ApplicationEpostBundle:sidebar:sidebarcategories.html.twig' %}
{% endblock %}

  
    
{% block tags %}
{{ parent() }}
{% include 'ApplicationEpostBundle:sidebar:sidebartags.html.twig' %}
{% endblock %}



{% block comments %}
{% include 'ApplicationEpostBundle:sidebar:lastcomments.html.twig' %}
{% endblock %}
{#

{% block archives %}
{{ parent() }}
{% include 'ApplicationSonataNewsBundle:sidebar:sidebaryears.html.twig' %}
{% endblock %}
#}