{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>

 {% endblock %}

{% block content_header '' %}

{% block title %}
Changements
{% endblock %}


{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}
{# outputs $5,500.00 #}
{{ '5500'|price }}

{{ 'Highlight this sentence'|highlight('i')|raw }}


 <a href="{{ path('changements_new') }}" class="btn btn-small btn-primary">Ajouter Changement</a>
    
<table class="table small table-striped table-condensed table-bordered table-hover">
       
 <thead>
      <tr class="title">
           
          <th></th> <th> Lundi</th>
               <th> Mardi</th>   <th> Mercredi</th>
                  <th> Jeudi</th>   <th> Vendredi</th>
  <th> Samedi</th>   <th> Dimanche</th>
        </tr>  
          </thead>
    <tbody>
        <tr>
    {% for week in month %}
        <td><p class="text-warning"> S-{{ week }} </p></td>
            {% for day in week %}
                <td>
                    {% if month.contains(day.begin) %}
                         {{ day.begin.format('d') }} 
         
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}

</table>


   <br> <br>  

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="title">
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom') }}</th>
                <th{% if pagination.isSorted('a.dateDebut') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Debut', 'a.dateDebut') }}</th>
                <th{% if pagination.isSorted('a.dateFin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Fin', 'a.dateFin') }}</th>
                <th{% if pagination.isSorted('a.dateComep') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date COMEP', 'a.dateComep') }}</th>
                <th{% if pagination.isSorted('a.dateVsr') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date VSR', 'a.dateVsr') }}</th>
                <th{% if pagination.isSorted('a.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description', 'a.description') }}</th>
                <th{% if pagination.isSorted('b.nomprojet') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Projet', 'b.nomprojet') }}</th>
                <th{% if pagination.isSorted('c.nomUser') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Demandeur', 'c.nomUser') }}</th>
                <th>Files</th>
                <th{% if pagination.isSorted('a.nomUser') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Users', 'c.nomUser') }}</th>
                <th{% if pagination.isSorted('d.idStatus.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', 'd.idStatus.nom') }}</th>

                <th>Environnements</th>
                <!--<th>Avatar</th>-->
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('changements_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nom }}</td>
                    <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H') ~ 'h' }}{% endif %}</td>
                    <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d') }}{% endif %}</td>
                    <td>
                    {% if entity.dateComep is not null %}
               {{ entity.dateComep|date('Y-m-d') }}
                    {% else %}
                            ----
            {% endif %}
                        </td>
                        <td>
                        {% if entity.dateVsr is not null %}
               {{ entity.dateVsr|date('Y-m-d') }}
                    {% else %}
                                ----
            {% endif %}
                            </td>



                            <td>{{ entity.description }}</td>
                            <td>{{ entity.idProjet.nomprojet }}</td>
                            <td>{{ entity.demandeur.nomUser }}</td>
                            <td>{{ entity.picture|length }}</td>
                            <td>
                 {{ entity.idusers|join(', ') }}   
               {#% for user in entity.idusers %} {{ user.nomUser }}

       {% endfor %#}
                                </td>
                                <td>
                               {% if entity.idStatus.description == 'open' %}

                                        <img src="{{ asset('bundles/applicationcertificats/images/cadenas-souvert.png') }}" alt="show" width="15" height="15" />

 {% else %}

                                        <img src="{{ asset('bundles/applicationcertificats/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
        {% endif %}   </td> 
                                    <td>
                                    {{ entity.idEnvironnement|join(', ') }}   

                 {#{ entity.idEnvironnement|join(', ') }}   
               {% for envi in entity.idEnvironnement %} {{ envi.nom }}
       {% endfor %#}
                                        </td>

                                        <td>{#% if entity.avatar %}{{ entity.avatar }}{% endif %#}</td>

                                        <td>
                                            <a href="{{ path('changements_show', { 'id': entity.id }) }}">
                                                <img src="{{ asset('bundles/applicationcertificats/images/detail.png') }}" alt="show" width="15" height="15" />
                                            </a>
                                        </td>
                                        <td>


                                            <a href="{{ path('changements_edit', { 'id': entity.id }) }}">
                                                <img src="{{ asset('bundles/applicationcertificats/images/edit.png') }}" alt="edit" width="15" height="15" />
                                            </a>
                                        </td>

                                    </tr>
    {% endfor %}
                                </tbody>
                            </table>

   {{ knp_pagination_render(pagination, 'ApplicationCertificatsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

{% endblock %}
