<!DOCTYPE html>
<html>
    <head>
        <title>{% block headtitle %}Certificats MROOT{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" type="text/css" media="all"/>
           <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/certificatscenter.css') }}" type="text/css" media="all"/>
   <style>
.main-col { width: 70%; display: inline-block; float: left; border-right: 1px solid #ccc; padding: 20px; margin-bottom: 20px; }
.sidebar {  padding: 10px; display: inline-block; }
 #footer {
              border: 1px solid #ccc; 
              clear: both; 
              text-align: center; 
              padding: 10px; 
              color: #aaa;
              
    position:relative;
    bottom:5px;
    width:99%;
    margin:auto;
    height:30px;   /* Height of the footer */
    background:#eaeaea;
}         

body {
background-image:url(images/ravenna.png);
}

    </style> 
 {% endblock %}
        
    </head>
    <body>
        
            <div class="page-header">
                      {{ block('NAVIGATION_BAR') }}
                   
                </div>
           <center><h1>   {% block title %}CERTIFICATS{% endblock %}</h1></center>
        
           
               <div class="container-fluid">
    <div class="row-fluid">
  
    <div class="span10">
    {% block content %}
                {% endblock %}
    </div>
          <div class="span2">
    <!--Sidebar content-->
    sidebar: todo
    <br>last comments
    <br>tag clouds 
    </div>
    </div>
                     <div id="footer">
                    <p align="center">{{ 'copyright MROOT'|trans }} © 2013</p>
                     
                </div>
    </div>
               
                <!-- Le javascript ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->

       {% block javascripts %}
                <script src="{{ asset('jquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
                <script type="text/javascript" src="{{ asset('jquery/jquery-ui-1.9.2.custom.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('jquery/jquery.ui.datepicker.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
   {#{ tinymce_init('advanced') }#}
        <!-- <script type="text/javascript" src="{#{ asset('bundles/staflcontinymce/vendor/tiny_mce/tiny_mce.js') }#}"></script>
            -->         
    
 {% endblock %}
                </body>

    </html>
    