{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

{% block content_header '' %}
{% block title %}
MES PRODUITS 
{% endblock %}
{% block content %}


{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}

<a href="{{ path('eproduit_new') }}" class="btn btn-small btn-primary">Ajouter un Produit</a>

<table class="table table-striped table-bordered table-hover">
    <table class="table table-striped table-bordered table-hover">
       <thead>
        <tr class="title">
              <th>{{ knp_pagination_sortable(paginationa, 'Id', 'a.id') }}</th>
    
 <th{% if paginationa.isSorted('a.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Nom', 'a.name') }}</th>
 <th{% if paginationa.isSorted('c.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Categorie', 'c.nom') }}</th>
 <th{% if paginationa.isSorted('d.idStatus.nom') %} class="sorted"{% endif %}>
{{ knp_pagination_sortable(paginationa, 'S', 'd.idStatus.nom') }}
                   <i class="icon-flag"></i></th> 
 <th{% if paginationa.isSorted('a.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Description', 'a.description') }}</th>
   <th>Image</th>
           {% if is_granted("ROLE_ADMIN") %}
 <th colspan="3"><center>Actions</center></th>
{% else %}
 <th><center>Actions</center></th>
{% endif %}
        </tr>
    </thead>
 
  
        <tbody>
        {% for entity in paginationa %}
            <tr>
                
                
                <td><a href="{{ path('eproduit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                 {% if entity.categorie is not null %}               
                  <td>{{ entity.categorie.nom }}</td>
                  {% else %}
                  <td>---</td>
                  {% endif %}
                  <td>
                                   {% if entity.idStatus is not null %}
                               {% if entity.idStatus.nom == 'open' %}

                                            <img src="{{ asset('bundles/applicationeservices/images/cadenas-souvert.png') }}" alt="show" width="15" height="15" />

 {% else %}

                                            <img src="{{ asset('bundles/applicationeservices/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
        {% endif %} 
 {% else %}

                                            <img src="{{ asset('bundles/applicationeservices/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
     
{% endif %} 
                                   </td> 
 
                <td>{{ entity.description|raw }}</td>
                       <td>
                {% if entity.image is not null %}               
           
         
         <img width="60px" src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.imageName }}" />
         {% else %}
           ---
         {% endif %}
           </td>
           
                  
                     <td>
                    <a href="{{ path('eproduit_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                </td>
                <td>
                    <a href="{{ path('eproduit_edit', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/edit.png') }}" alt="edit" width="15" height="15" />
                    </a>
                </td>
                   <td>
     <a href="{{ path('eproduit_delete', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/delete.png') }}" alt="delete" width="15" height="15" />
                    </a>
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {{ knp_pagination_render(paginationa) }}





{#-----------------------------------------------#}

 <center><h1>PRODUITS PROPOSES</h1></center>
<br>





<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="title"> 
                 <th>Id</th>
                <th>Name</th>
                <th{% if paginationa.isSorted('c.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Categorie', 'c.nom') }}</th>
                <th{% if paginationa.isSorted('b.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginationa, 'Proprietaire', 'b.username') }}</th>
               <th{% if paginationa.isSorted('d.idStatus.nom') %} class="sorted"{% endif %}>
{{ knp_pagination_sortable(paginationa, 'S', 'd.idStatus.nom') }}
                   <i class="icon-flag"></i></th>
                   
                   <th>Description</th>
                
                 <th>Image</th>
                 <th colspan="1">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in paginationb %}
            <tr>
                
                
                <td><a href="{{ path('eproduit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                 {% if entity.categorie is not null %}               
                  <td>{{ entity.categorie.nom }}</td>
                  {% else %}
                  <td>---</td>
                  {% endif %}
                     {% if entity.proprietaire is not null %}               
                    <td>{{ entity.proprietaire.username }}</td>
                 {% else %}
                  <td>---</td>
                     {% endif %}
                    <td>
                                   {% if entity.idStatus is not null %}
                               {% if entity.idStatus.nom == 'open' %}

                                            <img src="{{ asset('bundles/applicationeservices/images/cadenas-souvert.png') }}" alt="show" width="15" height="15" />

 {% else %}

                                            <img src="{{ asset('bundles/applicationeservices/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
        {% endif %} 
 {% else %}

                                            <img src="{{ asset('bundles/applicationeservices/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
     
{% endif %} 
                                   </td> 
                <td>{{ entity.description|raw }}</td>
                       <td>
                {% if entity.image is not null %}               
           
         
         <img width="60px" src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.imageName }}" />
         {% else %}
           ---
         {% endif %}
           </td>
           
                  
                     <td>
                    <a href="{{ path('eproduit_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                </td>
            
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {{ knp_pagination_render(paginationb) }}
    {% endblock %}
