{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

             
{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
{% endblock %}
 
{% block content_header '' %}

      {% block title %}
Ajouter Un Produit
{% endblock %}



{% block content %}

 <form action="{{ path('eproduit_create') }}" method="post" {{ form_enctype(form) }}>
    <table class="table table-bordered">
    <tbody>         <tr><td>
                 <div>
                  {{ form_row(form.name) }}
                {#     {{ form_row(form.services) }}#}
              </div>
         
               </td>
                   </td>
 <td>
 {{ form_row(form.description) }}
{{ form_rest(form) }} </td>
                                 </tr>
                                     
<tr><td colspan="3">
                                   
  <button type="submit" class="btn btn-small btn-warning">Modifier</button>
   <a href="{{ path(btnretour)  }}" class="btn btn-small btn-success">Retour</a>
   </form>       
                                    
                                       
                                </td></tr>
                        </tbody>
                    </table>
  
{% endblock %}
