{% extends "FOSUserBundle::layout.html.twig" %}
  
  {% block stylesheets %}
{{ parent() }}
    <style type="text/css">
	body
	{
		text-align: left;
	}
 
	#global
	{
		margin: 0 auto;
		width: 200px;
	}
	</style> 
 {% endblock %}
        
        {% block title %}{% endblock %}

{% block fos_user_content %}
            <br><br>
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
   
<div id='global'>
 
      <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
<div id='global'>
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />
</div>
    <div id='global'>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</div>
</form>
{% endblock fos_user_content %}
