{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

{% block content_header '' %}
{% block title %}

LES SERVICES PROPOSES
{% endblock %}
{% block content %}
<div id="ptitbutton">
        <img width="50px" src="{{ asset('images/pieces.jpg') }}" alt="brouzoufs" />
       
      </div>
<div id="textptitbutton">
       Mon total de brouzoufs: xxxx
      </div>
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}

<a href="{{ path('eservice_other') }}" class="btn btn-small btn-primary">Consulter les propositions</a>

<br><br>


{% include 'ApplicationCertificatsBundle:Eservice:template_services.html.twig' with {'mypagination': pagination,'etitable':'0'} %}

{% endblock %}
