{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
  
 {% endblock %}
      
      
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
          
$(function () {
   var activeTab = null;
$('a[data-toggle="tab"]').on('shown', function (e) {
  activeTab = e.target;
})
/*$('#myTab a:last').tab('show');*/
  /*var activeTab = $('[href=' + location.hash + ']');
  activeTab && activeTab.tab('show');*/
});
</script>
{% endblock %}

{% block content_header '' %}
{% block title %}

DASHBOARD - SERVICES
{% endblock %}
{% block content %}
<br>
<div id="ptitbutton">
        <img width="50px" src="{{ asset('images/pieces.jpg') }}" alt="brouzoufs" />
       
      </div>
<div id="textptitbutton">
       Mon total de brouzoufs: xxxx
      </div>
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}


<div class="tabbable"> <!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">MES PROPOSITIONS</a></li>
<li><a href="#tab2" data-toggle="tab">PROPOSITIONS EN ATTENTE</a></li>
<li><a href="#tab3" data-toggle="tab">MES DEMANDES</a></li>
</ul>
       
 <div class="tab-content">
<div class="tab-pane active" id="tab1">


<a href="{{ path('eservice_new') }}" class="btn btn-medium btn-primary"><i class="icon-plus"></i> Ajouter un Service</a>
<br><br>
{% include 'ApplicationCertificatsBundle:Eservice:template_services.html.twig' with {'mypagination': paginationa,'etitable':'1'} %}

</div>
<div class="tab-pane" id="tab2">

<a href="{{ path('eservice_other') }}" class="btn btn-medium btn-primary"><i class="icon-search"></i> Consulter les propositions</a>
{% include 'ApplicationCertificatsBundle:Eservice:template_services.html.twig' with {'mypagination': paginationb,'etitable':'0'} %}
<br><br>
</div>
         
         
<div class="tab-pane" id="tab3">
<a href="{{ path('eservice_demandes') }}" class="btn btn-medium btn-primary"><i class="icon-plus"></i> Ajouter une demande</a>
<br><br>
{% include 'ApplicationCertificatsBundle:Eservice:template_services.html.twig' with {'mypagination': pagination_demandes,'etitable':'1'} %}
</div>

</div>
</div>


{% endblock %}
