{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

{% block content_header '' %}
{% block title %}AJOUTER UNE TACHE{% endblock %}
{% block content %}

<br><br>
<form class="form-horizontal" action="{{ path('tag_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
                          <button type="submit" class="btn btn-large btn-warning">Ajouter</button>
                    <a href="{{ path('tag') }}" class="btn btn-large btn-success">Retour</a>
                </p>
            </form>



{% endblock %}