<div>
<p>
    
  <!-- <h4 class="ui-widget-header ui-corner-all">Commentaires Recents</h4>-->
{% for comment in lastcomments %}
    <!--Catégorie: -->
 {{ comment.updatedAt | created_ago  }}
   <span class="badge badge-info">
      
   {{ comment.post.title }}:</span><br>
    <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(comment.post) }) }}">
{{ comment.name }}</a> 
 
  {{  comment.message|length > 30 ? comment.message|slice(0, 30) ~ ' ...' : comment.message  }}
<br>
{% endfor %}
</p>
</div>
