<div>
<p>
    
  <!-- <h4 class="ui-widget-header ui-corner-all">Commentaires Recents</h4>-->
{% for comment in lastcomments %}
    <!--Catégorie: -->
 {{ comment.created | created_ago  }}
   <span class="badge badge-info">
      
   {{ comment.epost.name }}:</span><br>
   {# <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(comment.post) }) }}">#}
 
   {{  comment.comment|raw }}
 {#
 {{  comment.comment|length > 100 ? comment.comment|slice(0, 30)|raw ~ ' ...' : comment.comment|raw  }}
#}
<br>
{% endfor %}
</p>
</div>
