{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

{% block content_header '' %}
{% block title %}
HISTORIQUE DES PRETS 
{% endblock %}
{% block content %}


{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}
    
<a href="{{ path('ep_history_new') }}" class="btn btn-medium btn-primary"><i class="icon-plus"></i> Ajouter un Prêt</a>

     <table class="table table-striped table-bordered table-hover">
       <thead>
        <tr class="title">
              
                <th>Id</th>
                <th>Datein</th>
                <th>Dateout</th>
                   <th>Produit</th>
                   <th>Proprietaire</th>
                      <th>Emprunteur</th>
                            <th>Image</th>   
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ep_history_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dateIn %}{{ entity.dateIn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateOut %}{{ entity.dateOut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.produit %}{{ entity.produit }}{% endif %}</td>
                 <td>{% if entity.produit.proprietaire %}{{ entity.produit.proprietaire }}{% endif %}</td>
                 
                 <td>{% if entity.emprunteur %}{{ entity.emprunteur }}{% endif %}</td>
                 <td>
                {% if entity.produit.image is not null %}               
           
      {#   {{ app.request.basePath }} {{ vich_uploader_asset(message, 'image') }}#}
        {#   <img width="60px" src=" {{ app.request.basePath }} {{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.imageName }}" />
#}
    <img width="30px" src="{{ vich_uploader_asset(entity.produit, 'image') }}" alt="{{ entity.produit.imageName }}" />
         {% else %}
           ---
         {% endif %}
           </td>
                <td>
                    <a href="{{ path('ep_history_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                </td>
                <td>
                    <a href="{{ path('ep_history_edit', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/edit.png') }}" alt="edit" width="15" height="15" />
                    </a>
                </td>
                   
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
