{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/sliding.css') }}" type="text/css" media="all"/>

 {% endblock %}


{% block javascripts %}
{{ parent() }}
<!--<script type="text/javascript" src="{{ asset('bundles/applicationeservices/js/selectapplis.js') }}"></script>
-->
<script type="text/javascript">
$(document).ready(function() {
//$(function() {
   $( "#eproduit_history_type_dateIn" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd 12:00",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
   $( "#eproduit_history_type_dateOut" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd 12:00",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
  
});
    </script>
 {{ tinymce_init() }}
{% endblock %}

{% block content_header '' %}
      {% block title %}
    Ajouter Un Prêt de Produit
{% endblock %}

{% block content %}
    <form action="{{ path('ep_history_create') }}" method="post" {{ form_enctype(form) }}>
        <table class="table table-bordered">
            <tbody>         <tr>
                    <td>
                        <div>
    {{ form_row(form.emprunteur) }}
            {{ form_row(form.produit) }}
                {#     {{ form_row(form.services) }}#}
                        </div>
                    </td>
                    <td>

{{ form_rest(form) }} </td>
                </tr>

                <tr><td colspan="3">
                        <button type="submit" class="btn btn-small btn-warning">Ajouter</button>
                        <a href="{{ path('ep_history')  }}" class="btn btn-small btn-success">Retour</a>
                    </td></tr>
            </tbody>
        </table>
    </form>       


{% endblock %}
