{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

    
{% block javascripts %}
{{ parent() }}
   <!--<script type="text/javascript" src="{{ asset('bundles/applicationeservices/js/selectapplis.js') }}"></script>
    -->
<script type="text/javascript">
$(document).ready(function() {
//$(function() {
  $( "#eservice_form_dateIn" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd 12:00",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
  
});
</script>
 {{ tinymce_init() }}
{% endblock %}



 
{% block content_header '' %}

      {% block title %}
Ajouter Un Prêt de Produit
  
{% endblock %}



{% block content %}
  

    <form action="{{ path('ep_history_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ep_history') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
